.navbar {
    justify-content: space-evenly !important;
}

.nav-div-list li {
    margin-right: 25px;
}

.nav-main {
    display: flex !important;
    justify-content: space-around !important;
    width: 100%;
    align-items: center;
}
.decore-1{
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: -999;
}
.cstm-btn{
   border: 2px solid black !important; 
}


.screen-1{
    margin-top: 80px;
}
 .heading-1{
    font-size: 20px;
 }
 .cstm-btn-2{
    color: white !important;
 }
.screen-1-sub-div{
    display: flex;
    width: 900px;
    height: 50px;
}
.screen-1-sub-div button{
    position: absolute;
    top: 55%;
}
.screen-1-sub-div p{
    position: absolute;
    top: 53%;
    left: 17%;
}
/* .screen-1-data {
    display: flex;
    flex-direction: column; or 'row' if you want horizontal spacing
    gap: 20px; Adjust the value as needed
} */
.screen-1-data > * {
    margin-bottom: 20px; /* Adjust the value as needed */
}
.screen-1-img{
    position: absolute;
    right: 2%;
    bottom: 10%;
}
.screen-1-img img{
    height: 600px;
}
@media (max-width: 992px) {
    .decore-1{
        display: none;
    }
}
    
